body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2a1e1e;
    font-family: "Aubrey", system-ui;

}

a{
    text-decoration: none;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #ffc5c1;
    color: #503850;
    padding: 0.5rem;
}

.header div{
    width: 30%;
}

.header img{    
    width: 100%;;
}

.header p{
    margin: 0px 0px 10px 0px ;    
}

.header a{
    text-decoration: none;
}
    

.container_slider{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: #583f3f;
}

.container_img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 384px;
    height: 384px;
}

.slider_caneca{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
}

.vitrine{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 60rem;
}
.card_vitrine{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0.7rem;
    padding: 20px 0px 0px 0px;
    max-width: 30%;
    font-size: 2rem;
    color: #503850;
    background-color: #faeddf;
}

.card_vitrine:hover{
    cursor:pointer;
}

.card_vitrine img{
    width: 80%;
    height: 80%;
}

/* caneca.html */

.canceca_mostruario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.caneca_mostruario_img{
    display: flex;
    width: 40rem;
    border: 0.2rem solid #faeddf;
    border-radius: 0.4rem;
    background-color: #faeddf;
    margin: 0.2rem;
}

.caneca_mostruario_img img{
    width: 100%;
    border-radius: 0.4rem;
}

.canceca_descricao{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20rem;
    color: white;
    border: 0.2rem solid #faeddf;
    border-radius: 0.4rem;
    text-align: center;
    align-items: center;
    margin: 0.2rem;
}

.calcular_frete{
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.calcular_frete h2{
    color: greenyellow;
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: nowrap;
}


/* compra.html */

.formulario_compra{
    color: white;
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
}

.icons div{
    display: flex;
    border: 0.3rem solid white;
    background-color: white;
    width: fit-content;
    margin: 0.3rem;
    margin-right: 0px;
}

.icon1{
      border-radius: 10px 2px 2px 2px;
}

.icon2{
      border-radius: 2px 2px 2px 2px;
      margin-left: 0px;
      margin-right: 0px;
}

.icon3{
      border-radius: 2px 10px 2px 2px;
      margin-left: 0px;
}

.div_forms{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
    background-color: white;
    width: 30%;
    margin-left: 0.3rem;
}

.div_forms div{
    display: flex;
    margin: 2px;
    padding: 2px;
}

.div_forms label{
    display: flex;
    width: 3rem;
}

/*Ignorar esses códigos, vou revisar depois*/

/*
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.toma {
    font-family: "Borel", cursive;
    padding: 0px 0px 73px 0px;
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #888; /* mais apagado 
}

.caneco { 
    font-family: "Borel", cursive;
    position: absolute;     
    margin: 0px;
    font-weight: 700;
    color: #503850; /* destaque 
}
*/
